body {
    font-family: 'Heebo';
    background: #303952;
    color: white;
}
#main {
    height: 100vh;
    background: #6a89cc;
    border-bottom-right-radius: 800px;
    color: white;
}
#main i {
    font-size: 25px;
}
.separator {
    height: 100px;
}
.filet {
    height: 2px;
    width: 10%;
    background: #e55039;
    margin-bottom: 30px;
}
sup {
    color: #e55039;
}
input, textarea {
    border-radius: 0 !important;
}
input:focus, textarea:focus {
    box-shadow: none !important;
}
.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    border-radius: 0 !important;
    background: #e55039 !important;
    border-color: #e55039 !important;
    box-shadow: none !important;
}
footer {
    background: #6a89cc;
    height: 50px;
    color: white;
}
footer p {
    margin-bottom: 0;
}